.container
	.jumbotron
		h1 MultiVision
		p Two of the most prominent bands in the history of death metal are teaming up to take North America in 2015! Cannibal Corpse and Behemoth will join forces beginning on January 28th in New Orleans, LA at the House of Blues. Both bands are touring in support of their most recent and massively successful albums. Cannibal Corpse released their thirteenth album, “A Skeletal Domain,” on September 16th and debuted at #32 on the Billboard Top 200. Behemoth’s critically-applauded tenth album, “The Satanist,” entered the Billboard Top 200 at #34 after its release on February 4th of this year.

	.row
		.col-md-6
			div(ng-include="'/partials/main/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/main/new-courses'")